table {
  border: 1px solid var(--border-color-one) !important;
  border-radius: var(--bs-border-radius);
  .action-btns{
    button{
        min-height: 26px;
        svg{ width: 16px; height: 16px;}
        &.icon-btn{ width: 24px; height: 24px; display: flex; align-items: center; justify-content: center; padding: 0 !important;}
    }
  }
}
.table.table-bordered {
  border-radius: var(--bs-border-radius);
  thead th:first-child {
    border-top-left-radius: var(--bs-border-radius);
  }
  thead th:last-child {
    border-top-right-radius: var(--bs-border-radius);
  }
  tbody tr:last-child td:first-child {
    border-bottom-left-radius: var(--bs-border-radius);
  }
  tbody tr:last-child td:last-child {
    border-bottom-right-radius: var(--bs-border-radius);
  }
}
:host ::ng-deep .mat-mdc-table {
  border-radius: var(--bs-border-radius);
}
:host ::ng-deep .mat-elevation-z8 {
  border-radius: var(--bs-border-radius);
}
:host ::ng-deep .mat-mdc-table {
  border-collapse: separate;
  border-spacing: 0;
  border-radius: var(--bs-border-radius);
}
:host ::ng-deep .mat-mdc-header-row:first-child .mat-mdc-header-cell:first-child {
  border-top-left-radius: var(--bs-border-radius);
}
:host ::ng-deep .mat-mdc-header-row:first-child .mat-mdc-header-cell:last-child {
  border-top-right-radius: var(--bs-border-radius);
}
:host ::ng-deep .mat-mdc-row:last-child .mat-mdc-cell:first-child {
  border-bottom-left-radius: var(--bs-border-radius);
}
:host ::ng-deep .mat-mdc-row:last-child .mat-mdc-cell:last-child {
  border-bottom-right-radius: var(--bs-border-radius);
}
.dark :host ::ng-deep .mat-mdc-paginator{ background: var(--dark-bg-color) !important;}
:host ::ng-deep .mat-mdc-paginator-outer-container{
  margin-top: 2px;border-radius: var(--bs-border-radius);
}
:host ::ng-deep .mat-mdc-paginator{
  --mat-paginator-form-field-container-vertical-padding:2px;
  --mat-paginator-container-size:36px;
}
:host ::ng-deep .mdc-text-field--outlined .mat-mdc-form-field-infix, :host ::ng-deep .mdc-text-field--no-label .mat-mdc-form-field-infix {
  min-height: 28px;
}
:host ::ng-deep .mat-mdc-paginator-outer-container .mat-mdc-icon-button {
  max-height: 28px; max-width: 28px;
}
::ng-deep .mat-mdc-select-panel .mat-mdc-option{min-height: 32px !important; padding-left: 15px; padding-right: 15px;}
::ng-deep .dark { 
  .mat-mdc-table .mat-mdc-header-cell, table thead th {
  background: var(--dark-dark-color-2)!important;
}
}
